{% extends "website/base.html" %}

{% block content %}

<div class="w-100 bg-egichem-green text-white text-center text-uppercase rounded p-1 mb-3 d-none d-md-block">
  <span class="font-weight-bold">{{ page_title }}</span>{% if page_subtitle %} &nbsp;|&nbsp;  <span class="text-small">{{ page_subtitle }}</span>{% endif %}
</div>

{%  for award in awards  %}
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card w-100 bg-light">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="award-img">
                <img src="{{ award.image.url }}" class="img-fluid" alt="">
              </div>
            </div>
            <div class="col-md-8">
              <h5 class="card-title">{% if award.link %}<a class="link" href="{{ award.link }}" target="_blank">{{ award.title }}</a>{% endif %}</h5>
              {% if award.subtitle %}<p class="card-text">{{ award.subtitle }}</p>{% endif %}
              {% if award.awarded_to %}<p class="card-text"><strong>Awarded to:</strong> {{ award.awarded_to }}</p>{% endif %}
              {% if award.awarded_for %}<p class="card-text"><strong>Awarded for:</strong> "{{ award.awarded_for }}"</p>{% endif %}
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div><!-- row closing -->
{%  endfor %}

{% endblock content %}