{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Chemical Engineering Laboratory at University of Aveiro">
    <meta property="og:title" content="EgiChem" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.egichem.com" />
    <meta property="og:image" content="{% static 'website/images/logo_egichem.png' %}" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'website/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'website/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'website/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'website/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'website/favicon/safari-pinned-tab.svg' %}" color="#5a9c20">
    <meta name="msapplication-TileColor" content="#5a9c20">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/bootstrap-cosmo.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/main.css' %}">
    <!-- Calendar -->
    <link rel="stylesheet" href="{% static 'website/fullcalendar/fullcalendar.css' %}">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Academicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

    {% if page_title %}
        <title>EgiChem{% if page_title != 'Home' %} | {{ page_title }}{% endif %}</title>
    {% else %}
        <title>EgiChem</title>
    {% endif %}

    {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58056773-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58056773-9');
    </script>
    {% endif %}
</head>
<body>
  <!-- Header -->
  <header class="site-header bg-light border-bottom mb-3">
    <div class="container px-0">
    
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'website/images/logo_egichem.png' %}" style="max-height: 125px;" alt="EGICHEM Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'home' %}">HOME {{ MEDIA_URL }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'research' %}">RESEARCH</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'people' %}">PEOPLE</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'lab' %}">LAB</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'publications' %}">PUBLICATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'partners' %}">COLLABORATIONS</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'blog:news' %}">NEWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'tools' %}">TOOLS</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link mx-2" href="{% url 'contact' %}">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </header>

  <!-- Main section -->
  <main role="main" class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    {% if page_title %}
    <div id="section" class="w-100 bg-egichem-green text-white text-center text-uppercase p-1 mb-3 d-none d-md-block">
      <span class="font-weight-bold">{{ page_title }}</span>{% if page_subtitle %} &nbsp;|&nbsp;  <span class="text-small">{{ page_subtitle }}</span>{% endif %}
    </div>
    {% endif %}

    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="footer border-top bg-light pt-3 pb-3 mt-5">
    <div class="container text-center text-md-left text-small">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-secondary"><i class="fas fa-map-marker"></i> Visit</h5>
          <p class="text-secondary">
            Lab 29.1.5 and Office 29.1.15<br>
            Department of Chemistry<br>
            University of Aveiro<br>
            Campus Universitário de Santiago<br>
            3810-193 Aveiro - Portugal<br>
          </p>
        </div>

        <hr class="clearfix w-75 d-md-none">

        <div class="col-md-3">
          <h5 class="text-secondary"><i class="fas fa-envelope"></i> Get in touch</h5>
          <p class="text-secondary">
            Email: dq-egichem[at]ua.pt<br>
            Phone: +351 234 401549<br>
            Fax: +351 234 370084<br>
          </p>
        </div>

        <hr class="clearfix w-75 d-md-none">

        <div class="col-md-4">
          <div>
            <img src="{% static 'website/images/logo_CICECO.png' %}" class="img-fluid" alt="CICECO Logo">
          </div>
          <!-- <div>
            <img src="{% static 'website/images/logo_ua.png' %}" class="img-fluid" alt="">
          </div> -->
        </div>

        <hr class="clearfix w-75 d-md-none">

        <div class="col-md-2 text-md-right">
          <p class="text-muted">
              Managed by:<br>
              Marcelo Melo
            </p>
            <p class="text-muted">
              Created by:<br>
              José Aniceto
            </p>
            <p class="text-muted"><i class="far fa-copyright"></i> 
              <script>document.write(new Date().getFullYear())</script> 
              EgiChem
            </p>
        </div>

      </div>
    </div>
  </footer>

  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="{% static 'website/scripts.js' %}"></script>

  <script>
    $('.carousel').carousel()

    $('#collapse-button a').on('click', function(){
      $('#collapse-button').collapse('hide');
      $('#MSc_oncourse').css({'border-bottom-color': '#C3C49E', 'border-bottom-right-radius': '.25rem', 'border-bottom-left-radius': '.25rem'})
    });
  </script>

  <!-- Calendar -->
  <script src="{% static 'website/fullcalendar/lib/moment.min.js' %}"></script>
  <script src="{% static 'website/fullcalendar/fullcalendar.js' %}"></script>
  <script src="{% static 'website/fullcalendar/gcal.min.js' %}"></script>
  <script src="{% static 'website/fullcalendar.js' %}"></script>

  <script>
    // Show active page on navbar
    const navItems = [].slice.call(
      document.querySelectorAll('.nav-item')
    ).filter(
      (node) => window.location.pathname.startsWith(node.pathname)
    );

    navItems.sort((a, b) => b.pathname.length - a.pathname.length);

    if (navItems.length) {
      navItems[0].classList.add('active');
    }
  </script>

  <!-- Page specific scripts -->
  {% block scripts %}{% endblock %}

</body>
</html>