{% extends "website/base.html" %}
{% load static %}
{% block content %}

<div id="fullWidthCarousel" class="carousel slide mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#fullWidthCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="1"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="2"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="3"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="4"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="container">
      <div id="about-carousel" class="">
        <div class="row">
          <div class="my-5 py-3 mx-3 mx-md-0 col-md-6">
            <h1 class="text-light mb-4"><strong>About EgiChem</strong></h1>
            <p class="lead text-light">
              EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal).
            </p>
            <p class="lead text-light">
              EgiChem is led by Professor Carlos Silva and focuses on research and development of separation processes.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item overlay active">
      <img src="{% static 'website/images/slider/banner-1.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-10.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-2.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-5.png' %}">
    </div>
    <!-- <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-12.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-11.png' %}">
    </div> -->
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-8.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-9.png' %}">
    </div>
    
    

  </div>
</div>


<!-- About EgiChem Section (New card version) -->
<!-- <div class="container mb-5">
  <h1 class="display-5 fw-bold mb-3">About EgiChem</h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="card-body">
          <p class="lead">
            EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal).
          </p>
          <p class="lead">
            The EgiChem group is led by Professor Carlos Silva and focuses on research and development of separation processes.
          </p>
          <div>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'research' %}" type="button">Research</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'people' %}" type="button">People</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'publications' %}" type="button">Publications</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'awards' %}" type="button">Awards</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="aboutCarousel" class="carousel slide mb-0" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#aboutCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#aboutCarousel" data-slide-to="1"></li>
            <li data-target="#aboutCarousel" data-slide-to="2"></li>
            <li data-target="#aboutCarousel" data-slide-to="3"></li>
            <li data-target="#aboutCarousel" data-slide-to="4"></li>
            <li data-target="#aboutCarousel" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'website/images/slider/IMG_3210-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3239-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3492-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3325-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3439-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3479-compressor.jpg' %}" class="" >
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->


<div class="container">

  <!-- <h1 class="display-5 fw-bold mb-4 text-center">Research Focus</h1> -->


  <!-- Research section v3 (Dynamic) -->
  <!-- <div id="research3" class="mb-5 pb-4">

    <ul class="nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab" role="tablist">
      {% for area in main_research_areas %}
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill nav-link {% if forloop.first %}active{% endif %}" id="pills-area{{ forloop.counter }}-tab" data-toggle="pill" href="#pills-area{{ forloop.counter }}" role="tab" aria-controls="pills-area{{ forloop.counter }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
          <div class="pill-title">{{ area.title|safe }}</div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content" id="pills-tabContent">
      {% for area in main_research_areas %}
      <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="pills-area{{ forloop.counter }}" role="tabpanel" aria-labelledby="pills-area{{ forloop.counter }}-tab">
        <p class="text-center lead" style="font-size: 1.3rem;">
          {{ area.description|safe }}
        </p>
      </div>
      {% endfor %}
    </div>

  </div> -->
  
  
  
  <!-- Research section v3 (Hard coded) -->
  <!-- <div id="research3" class="mb-5 pb-4">

    <ul class="nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill nav-link active" id="pills-area1-tab" data-toggle="pill" href="#pills-area1" role="tab" aria-controls="pills-area1" aria-selected="true">
          <div class="pill-title">Supercritical CO<sub>2</sub></div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill nav-link" id="pills-area2-tab" data-toggle="pill" href="#pills-area2" role="tab" aria-controls="pills-area2" aria-selected="false">
          <div class="pill-title">Simulated Moving Bed</div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill nav-link" id="pills-area3-tab" data-toggle="pill" href="#pills-area3" role="tab" aria-controls="pills-area3" aria-selected="false">
          <div class="pill-title">Ion Exchange</div>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="flex-sm-fill nav-link" id="pills-area4-tab" data-toggle="pill" href="#pills-area4" role="tab" aria-controls="pills-area4" aria-selected="false">
          <div class="pill-title">Transport Properties</div>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-area1" role="tabpanel" aria-labelledby="pills-area1-tab">
        <p class="text-center lead" style="font-size: 1.3rem;">
          Supercritical Fluid Extraction uses a fluid at supercritical conditions (usually CO<sub>2</sub>) to extract target compounds from a multitude of materials.
          Our research focuses on the extraction of valuable compounds from biomass residues, characterization of the resulting extracts, and the development of industrial processes through modeling, simulation, scale-up and economic evaluation studies.
        </p>
      </div>
      <div class="tab-pane fade" id="pills-area2" role="tabpanel" aria-labelledby="pills-area2-tab">
        <p class="text-center lead" style="font-size: 1.3rem;">
          SMB is a continuous chromatographic separation technique. EgiChem research focuses on the purification of compounds with pharmaceutical interest, and in development of SMB process and optimization strategies.
        </p>
      </div>
      <div class="tab-pane fade" id="pills-area3" role="tabpanel" aria-labelledby="pills-area3-tab">
        <p class="text-center lead" style="font-size: 1.3rem;">
          EgiChem research on ion exchange has covered the issue of water pollutant removal through modeling and measurement of heavy metals removal from water solutions with the aid of titanosilicate materials.
        </p>
      </div>
      <div class="tab-pane fade" id="pills-area4" role="tabpanel" aria-labelledby="pills-area4-tab">
        <p class="text-center lead" style="font-size: 1.3rem;">
          EgiChem research covers transport properties through the measurement and modelling of diffusion coefficients. Some of the best models currently found in literature for correlation and prevision of diffusion coefficientes were published by Egichem researchers.
        </p>
      </div>
    </div>

  </div> -->



  <!-- Research section v2 -->
  <!-- <h1 class="display-5 fw-bold mb-3 text-center">Main research areas</h1> -->
  <!-- <div id="research2" class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card-group">
              <div class="row">
                <div class="col-md-4">
                  <div class="card bg-transparent">
                    <div class="card-body">
                      <h2 class="card-title text-center"><strong>Supercritical CO<sub>2</sub></strong></h2>
                      <p class="text-center lead">
                        Supercritical fluid extraction, extracts characterization, and development of industrial processes through modeling, simulation, scale-up and economic evaluation studies.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card bg-transparent">
                    <div class="card-body">
                      <h2 class="card-title text-center"><strong>Simulated Moving Bed</strong></h2>
                      <p class="text-center lead">
                        Purification of high value compounds, and development of SMB process and optimization strategies.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card bg-transparent">
                    <div class="card-body">
                      <h2 class="card-title text-center"><strong>Ion Exchange</strong></h2>
                      <p class="text-center lead">
                        Removal of water pollutants (namely heavy metals) using titanosilicate materials.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="carousel-item">
          <div class="card-group">
            <div class="row">
              <div class="col-md-4">
                <div class="card bg-transparent">
                  <div class="card-body">
                    <h2 class="card-title text-center"><strong>Transport Properties</strong></h2>
                    <p class="text-center lead">Measurement and modelling of diffusion coefficients. Development of predictive models.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-transparent">
                  <div class="card-body">
                    <h2 class="card-title text-center"><strong>Air Purification</strong></h2>
                    <p class="text-center lead">Development and testing of new materials to adsorb contaminants from air. Development and simulations of PTSA (Pressure-Temperature Swing Adsorption) systems.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card bg-transparent">
                  <div class="card-body">
                    <h2 class="card-title text-center"><strong>xxxxxxx x xxx</strong></h2>
                    <p class="text-center lead">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  <!-- Research section -->
  <!-- <div id="research" class="mb-5">
    <h1 class="display-5 fw-bold mb-3">Research</h1>
    <div class="card shadow-sm">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group list-group-flush" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0 active" id="list-sfe-list" data-toggle="list" href="#list-sfe" role="tab" aria-controls="sfe">
              <span class="h3">Supercritical Fluid Extraction</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-adsorption-list" data-toggle="list" href="#list-adsorption" role="tab" aria-controls="adsorption">
              <span class="h3">Adsorption Processes</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-membrane-list" data-toggle="list" href="#list-membrane" role="tab" aria-controls="membrane">
              <span class="h3">Membrane Separations</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-ionExchange-list" data-toggle="list" href="#list-ionExchange" role="tab" aria-controls="ionExchange">
              <span class="h3">Ion Exchange</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-computer-list" data-toggle="list" href="#list-computer" role="tab" aria-controls="computer">
              <span class="h3">Modeling and Simulation</span>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content p-3" id="nav-tabContent">
            <div class="lead tab-pane fade show active" id="list-sfe" role="tabpanel" aria-labelledby="list-sfe-list">
              <p>Supercritical Fluid Extraction uses a fluid at supercritical conditions (usually CO<sub>2</sub>) to extract target compounds from a multitude of materials. </p>
              <p>Our research focuses on the extraction of valuable compounds from biomass residues, characterization of the resulting extracts, and the development of industrial processes through modeling, simulation, scale-up and economic evaluation studies.</p>
            </div>
            <div class="lead tab-pane fade" id="list-adsorption" role="tabpanel" aria-labelledby="list-adsorption-list">
              <p>Our adsorption research has two distinct scopes: development of adsorption-based separation processes and Adsorption Heat Exchangers.</p>
              <p>EgiChem works with Simulated Moving Bed (SMB) Chromatography for the purification of compounds with pharmaceutical interest, including the development of SMB processes and optimization strategies.</p>
              <p class="mb-0">On the field of Adsorption Heat Exchangers, our work focuses on the optimization of the heating/cooling performance these equipments through modeling and simulations.</p>
            </div>
            <div class="lead tab-pane fade" id="list-membrane" role="tabpanel" aria-labelledby="list-membrane-list">
              EgiChem specializes on the separation of several gases using membrane technology. Our research covers the synthesis, structural characterization, measurement of permeances and modeling of new inorganic membranes.
            </div>
            <div class="lead tab-pane fade" id="list-ionExchange" role="tabpanel" aria-labelledby="list-ionExchange-list">
              <p>Our Ion Exchange research focuses on the removal of contaminants, such as heavy metals, from aqueous solutions through the development of innovative materials, including the synthesis and characterization of new ion exchange and sensing materials such as lanthanide silicates.</p>
            </div>
            <div class="lead tab-pane fade" id="list-computer" role="tabpanel" aria-labelledby="list-computer-list">
              <p>All research conducted at our laboratory is strongly supported by modeling and simulation. Our projects require:</p>
              <ul>
                <li>advanced numerical methods and optimization algorithms,</li>
                <li>chemical process simulation software,</li>
                <li>computational fluid dynamics (CFD) simulations,</li>
                <li>molecular dynamics simulations,</li>
                <li>and machine learning models (for instance, artificial neural networks).</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-md-8 mb-3">

      <!-- Latest Publications Section -->
      <div id="publications" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Latest Publications</h1>

        <div class="card shadow-sm mt-3">
          <ul class="list-group list-group-flush">
            <!-- {% for publication in latest_publications %}
              <li class="list-group-item p-0 mb-4">
                <p class="text-muted small mb-0">{{ publication.pub_type|upper }}</p>
                {% if publication.pub_type == 'article' %}
                <p><a class="text-dark publication-link" href="{{ publication.link }}" target="_blank">{{ publication.authors }}. {{ publication.title|safe }}, <em>{{ publication.journal }}</em> {{ publication.volume }} ({{ publication.year }}) {{ publication.pages }}.</a></p>
                {% elif publication.pub_type == 'book-chapter' %}
                <p>{{ publication.authors }}. {{ publication.title|safe }}, <em>{{ publication.journal }}</em> {{ publication.volume }} ({{ publication.year }}) {{ publication.pages }}.</p>
                {% elif publication.pub_type == 'patent' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.publication_number }}, {{ publication.year }}.</p>
                {% elif publication.pub_type == 'poster' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.conference }}, {{ publication.conference_city }}, {% if presentation.conference_date %}{{ publication.conference_date }}, {% endif %}{{ publication.year }}.</p>
                {% elif publication.pub_type == 'presentation' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.conference }}, {{ publication.conference_city }}, {% if publication.conference_date %}{{ publication.conference_date }}, {% endif %}{{ publication.year }}.</p>
                {% elif publication.pub_type == 'thesis' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.get_thesis_type_display }}, {{ publication.thesis_coordinators }}, {{ publication.thesis_institution }}, {{ publication.year }}.</p>
                {% endif %}
              </li>
            {% endfor %} -->
            {% for publication in latest_publications %}
            <a href="{% if publication.link %}{{ publication.link }}{% endif %}" target="_blank" class="list-group-item list-group-item-action">
              <p class="text-muted small mb-1">{{ publication.pub_type|upper }}</p>
              <p class="mb-1">{{ publication.title|safe }}.</p>
              <p class="mb-1">by {{ publication.authors }}</p>
              {% if publication.pub_type == 'article' %}
              <p class="mb-1">in <em>{{ publication.journal }}</em></p>
              {% endif %}
            </a>
            {% endfor %}
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action text-muted text-right">See all publications...</a>
          </ul>
        </div>
      </div>
      
      <!-- Latest News Section -->
      <div id="news" class="mb-5 mb-md-0">
        <h1 class="display-5 fw-bold mb-3">Latest News</h1>

        <div class="card shadow-sm mt-3">
          <ul class="list-group list-group-flush">
            {% for post in latest_posts %}
              <li class="list-group-item">
                {% if post.image %}
                <div class="float-md-right ml-3 mt-2 mb-1">
                  <img class="" src="{{ post.image.url }}" style="max-height: 120px; max-width: 200px;" alt="Post Image">
                </div>
                {% endif %}
                <p class="text-muted small mb-0">{{ post.date_posted|date:"F d, Y" }}</p>
                <p>{{ post.summary|safe|linebreaks }}</p>
              </li>
            {% endfor %}
            <a href="{% url 'blog:news' %}" class="list-group-item list-group-item-action text-muted text-right">Read all news...</a>
            <!-- <li class="list-group-item p-2 pl-3 pr-3"><a class="float-right text-muted link" href="{% url 'blog:news' %}">Read all news...</a></li> -->
          </ul>
          <!-- <div class="card-footer bg-white">
            <a class="float-right text-muted" href="{% url 'blog:news' %}">Read all news...</a>
          </div> -->
        </div>
      </div>

    </div> <!-- col-md-8 -->


    <!-- RIGHT COLUMN -->
    <div class="col-md-4">

      <!-- Banners Section -->
      <div class="mb-5">
        <a href="https://www.mdpi.com/journal/materials/special_issues/Nano_Featured_Materials" target="_blank">
          <img src="{% static 'website/images/banner-materials.png' %}" class="img-fluid" alt="Banner Materials Special Issue">
        </a>
      </div>


      <!-- Facts and Numbers Section -->
      <div id="facts" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Facts and Numbers</h1>
        
        <div class="card shadow-sm mt-3">
           <div class="list-group list-group-flush">
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Journal Articles
              <span class="badge badge-egichem badge-pill">{{ articles }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Book Chapters
              <span class="badge badge-egichem badge-pill">{{ book_chapters }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Patents
              <span class="badge badge-egichem badge-pill">{{ patents }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Communications
              <span class="badge badge-egichem badge-pill">{{ communications }}</span>
            </a>
            <a href="{% url 'awards' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Awards
              <span class="badge badge-egichem badge-pill">{{ awards }}</span>
            </a>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PostDocs completed
              <span class="badge badge-egichem badge-pill">{{ postdocs_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PostDocs on course
              <span class="badge badge-egichem badge-pill">{{ postdocs_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PhDs completed
              <span class="badge badge-egichem badge-pill">{{ PhD_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PhDs on course
              <span class="badge badge-egichem badge-pill">{{ PhD_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Research Fellowships completed
              <span class="badge badge-egichem badge-pill">{{ fellows_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Research Fellowships on course
              <span class="badge badge-egichem badge-pill">{{ fellows_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              MSc Theses completed
              <span class="badge badge-egichem badge-pill">{{ MSc_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              MSc Theses on course
              <span class="badge badge-egichem badge-pill">{{ MSc_oncourse }}</span>
            </li>
          </div>
        </div>
      </div>


      <!-- Visit Also Section -->
      <div id="visit" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Visit</h1>
        
        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/">Universidade de Aveiro (UA)</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/dqua/">Department of Chemistry UA</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ciceco.ua.pt/index.php?language=pt">CICECO - Aveiro Institute of Materials</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/dqua/PageCourse.aspx?id=31&b=1">Mestrado Integrado Engenharia Química</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.aipqr.pt/">APQuímica</a>
          </ul>
        </div>
      </div>


      <!-- Calendar Section -->
      <div id="visit" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Events</h1>
        <div id='calendar' class="my-1"></div>
        <div class="embed-responsive embed-responsive-4by3 mt-3">
          <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZWdpY2hlbXVhQGdtYWlsLmNvbQ&amp;src=cHQtcHQucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;color=%230B8043&amp;showTitle=0&amp;showNav=0&amp;hl=en_GB&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>

    </div> <!-- col-md-4 -->
  </div> <!-- row -->

</div> <!-- container -->
{% endblock content %}

