{% extends "website/base.html" %}
{% load static %}
{% block content %}

<div id="fullWidthCarousel" class="carousel slide mb-5" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#fullWidthCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="1"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="2"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="3"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="4"></li>
    <li data-target="#fullWidthCarousel" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
    <div class="container">
      <!-- <div class="" style="position: absolute; z-index: 10;">
        <div class="card my-5 bg-egichem-transparent text-white" style="width: 30rem; opacity: 0.5;">
          <div class="card-body">
            <h1 class="display-5 text-white mb-3">About EgiChem</h1>
            <p class="lead">
              EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal).
            </p>
            <p class="lead">
              EgiChem is led by Professor Carlos Silva and focuses on research and development of separation processes.
            </p>
            <a href="#" class="card-link text-reset">Card link</a>
            <a href="#" class="card-link text-reset">Another link</a>
            <a href="#" class="card-link text-reset">Another link</a>
          </div>
        </div>
      </div> -->
      <div id="about-carousel" class="">
        <div class="row">
          <div class="my-5 py-3 mx-3 mx-md-0 col-md-6">
            <h1 class="display-5 text-light mb-4">About EgiChem</h1>
            <p class="lead text-light">
              EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal).
            </p>
            <p class="lead text-light">
              EgiChem is led by Professor Carlos Silva and focuses on research and development of separation processes.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item overlay active">
      <img src="{% static 'website/images/slider/banner-1.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-2.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-3.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-4.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-5.png' %}">
    </div>
    <div class="carousel-item overlay">
      <img src="{% static 'website/images/slider/banner-6.png' %}">
    </div>

  </div>
</div>

<!-- About EgiChem Section (Old version) -->
<!-- <div class="container">
  <div class="card">
    <div class="card-body">
      <div id="carouselLabImages" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'website/images/slider/IMG_3210-compressor.jpg' %}" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'website/images/slider/IMG_3239-compressor.jpg' %}" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'website/images/slider/IMG_3492-compressor.jpg' %}" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'website/images/slider/IMG_3325-compressor.jpg' %}" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'website/images/slider/IMG_3439-compressor.jpg' %}" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'website/images/slider/IMG_3479-compressor.jpg' %}" class="d-block" alt="...">
          </div>
        </div>
      </div>
      
      <h5 class="card-title mt-3">About EgiChem</h5>
      <p class="card-text">
        EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal). The EgiChem group is lead by Professor Carlos Silva and focuses on research and development of separation processes. Current main areas of research include adsorption, supercritical fluid extraction, chromatographic separations, and ion exchange.
      </p>
      <a class="link mr-3" href="{% url 'research' %}">Research</a>
      <a class="link mr-3" href="{% url 'people' %}">People</a>
      <a class="link mr-3" href="{% url 'publications' %}">Publications</a>
      <a class="link mr-3" href="{% url 'awards' %}">Awards</a>
    </div>
  </div>
</div> -->


<!-- About EgiChem Section (New card version) -->
<!-- <div class="container mb-5">
  <h1 class="display-5 fw-bold mb-3">About EgiChem</h1>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="card-body">
          <p class="lead">
            EgiChem is a chemical engineering group part of associate laboratory CICECO – Aveiro Institute of Materials in the University of Aveiro (Portugal).
          </p>
          <p class="lead">
            The EgiChem group is led by Professor Carlos Silva and focuses on research and development of separation processes.
          </p>
          <div>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'research' %}" type="button">Research</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'people' %}" type="button">People</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'publications' %}" type="button">Publications</a>
            <a class="btn btn-outline-egichem px-4 mr-1" href="{% url 'awards' %}" type="button">Awards</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="aboutCarousel" class="carousel slide mb-0" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#aboutCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#aboutCarousel" data-slide-to="1"></li>
            <li data-target="#aboutCarousel" data-slide-to="2"></li>
            <li data-target="#aboutCarousel" data-slide-to="3"></li>
            <li data-target="#aboutCarousel" data-slide-to="4"></li>
            <li data-target="#aboutCarousel" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'website/images/slider/IMG_3210-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3239-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3492-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3325-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3439-compressor.jpg' %}" class="" >
            </div>
            <div class="carousel-item text-center">
              <img src="{% static 'website/images/slider/IMG_3479-compressor.jpg' %}" class="" >
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->


<div class="container">
  
  <!-- Research -->
  <div id="research" class="mb-5">
    <h1 class="display-5 fw-bold mb-3">Research</h1>
    <div class="card shadow-sm"> <!-- p-4 -->
      <div class="row">
        <div class="col-md-4">
          <div class="list-group list-group-flush" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0 active" id="list-sfe-list" data-toggle="list" href="#list-sfe" role="tab" aria-controls="sfe">
              <span class="h3">Supercritical Fluid Extraction</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-adsorption-list" data-toggle="list" href="#list-adsorption" role="tab" aria-controls="adsorption">
              <span class="h3">Adsorption Processes</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-membrane-list" data-toggle="list" href="#list-membrane" role="tab" aria-controls="membrane">
              <span class="h3">Membrane Separations</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-ionExchange-list" data-toggle="list" href="#list-ionExchange" role="tab" aria-controls="ionExchange">
              <span class="h3">Ion Exchange</span>
            </a>
            <a class="list-group-item list-group-item-egichem list-group-item-action border-0" id="list-computer-list" data-toggle="list" href="#list-computer" role="tab" aria-controls="computer">
              <span class="h3">Modeling and Simulation</span>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content p-3" id="nav-tabContent">
            <div class="lead tab-pane fade show active" id="list-sfe" role="tabpanel" aria-labelledby="list-sfe-list">
              <p>Supercritical Fluid Extraction uses a fluid at supercritical conditions (usually CO<sub>2</sub>) to extract target compounds from a multitude of materials. </p>
              <p>Our research focuses on the extraction of valuable compounds from biomass residues, characterization of the resulting extracts, and the development of industrial processes through modeling, simulation, scale-up and economic evaluation studies.</p>
            </div>
            <div class="lead tab-pane fade" id="list-adsorption" role="tabpanel" aria-labelledby="list-adsorption-list">
              <p>Our adsorption research has two distinct scopes: development of adsorption-based separation processes and Adsorption Heat Exchangers.</p>
              <p>EgiChem works with Simulated Moving Bed (SMB) Chromatography for the purification of compounds with pharmaceutical interest, including the development of SMB processes and optimization strategies.</p>
              <p class="mb-0">On the field of Adsorption Heat Exchangers, our work focuses on the optimization of the heating/cooling performance these equipments through modeling and simulations.</p>
            </div>
            <div class="lead tab-pane fade" id="list-membrane" role="tabpanel" aria-labelledby="list-membrane-list">
              EgiChem specializes on the separation of several gases using membrane technology. Our research covers the synthesis, structural characterization, measurement of permeances and modeling of new inorganic membranes.
            </div>
            <div class="lead tab-pane fade" id="list-ionExchange" role="tabpanel" aria-labelledby="list-ionExchange-list">
              <p>Our Ion Exchange research focuses on the removal of contaminants, such as heavy metals, from aqueous solutions through the development of innovative materials, including the synthesis and characterization of new ion exchange and sensing materials such as lanthanide silicates.</p>
            </div>
            <div class="lead tab-pane fade" id="list-computer" role="tabpanel" aria-labelledby="list-computer-list">
              <p>All research conducted at our laboratory is strongly supported by modeling and simulation. Our projects require:</p>
              <ul>
                <li>advanced numerical methods and optimization algorithms,</li>
                <li>chemical process simulation software,</li>
                <li>computational fluid dynamics (CFD) simulations,</li>
                <li>molecular dynamics simulations,</li>
                <li>and machine learning models (for instance, artificial neural networks).</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 mb-3">

      <!-- Latest Publications Section -->
      <div id="publications" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Latest Publications</h1>

        <div class="card shadow-sm mt-3">
          <ul class="list-group list-group-flush">
            <!-- {% for publication in latest_publications %}
              <li class="list-group-item p-0 mb-4">
                <p class="text-muted small mb-0">{{ publication.pub_type|upper }}</p>
                {% if publication.pub_type == 'article' %}
                <p><a class="text-dark publication-link" href="{{ publication.link }}" target="_blank">{{ publication.authors }}. {{ publication.title|safe }}, <em>{{ publication.journal }}</em> {{ publication.volume }} ({{ publication.year }}) {{ publication.pages }}.</a></p>
                {% elif publication.pub_type == 'book-chapter' %}
                <p>{{ publication.authors }}. {{ publication.title|safe }}, <em>{{ publication.journal }}</em> {{ publication.volume }} ({{ publication.year }}) {{ publication.pages }}.</p>
                {% elif publication.pub_type == 'patent' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.publication_number }}, {{ publication.year }}.</p>
                {% elif publication.pub_type == 'poster' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.conference }}, {{ publication.conference_city }}, {% if presentation.conference_date %}{{ publication.conference_date }}, {% endif %}{{ publication.year }}.</p>
                {% elif publication.pub_type == 'presentation' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.conference }}, {{ publication.conference_city }}, {% if publication.conference_date %}{{ publication.conference_date }}, {% endif %}{{ publication.year }}.</p>
                {% elif publication.pub_type == 'thesis' %}
                <p>{{ publication.authors }}. {{ publication.title }}, {{ publication.get_thesis_type_display }}, {{ publication.thesis_coordinators }}, {{ publication.thesis_institution }}, {{ publication.year }}.</p>
                {% endif %}
              </li>
            {% endfor %} -->
            {% for publication in latest_publications %}
            <a href="{{ publication.link }}" target="_blank" class="list-group-item list-group-item-action">
              <p class="text-muted small mb-1">{{ publication.pub_type|upper }}</p>
              <p class="mb-1">{{ publication.title|safe }}.</p>
              <p class="mb-1">by {{ publication.authors }}</p>
              {% if publication.pub_type == 'article' %}
              <p class="mb-1">in <em>{{ publication.journal }}</em></p>
              {% endif %}
            </a>
            {% endfor %}
          </ul>
          <div class="card-footer bg-white">
            <a class="float-right text-muted" href="{% url 'publications' %}">See all publications...</a>
          </div>
        </div>
      </div>
      
      <!-- Latest News Section -->
      <div id="news" class="mb-5 mb-md-0">
        <h1 class="display-5 fw-bold mb-3">Latest News</h1>

    <!-- Banners -->
    <div class="mb-3">
      <a href="https://www.mdpi.com/journal/materials/special_issues/Nano_Featured_Materials" target="_blank">
        <img src="{% static 'website/images/banner-materials.png' %}" class="img-fluid" alt="Banner Materials Special Issue">
      </a>
    </div>

    <!-- Facts and Numbers Section -->
    <div class="card bg-egichem-2" id="facts-numbers">
      <div class="card-body p-2 pl-3 pr-3">
        <h5 class="card-title mb-0">Facts and Numbers</h5>
      </div>

    </div> <!-- col-md-8 -->


    <div class="col-md-4">

      <!-- Facts and Numbers Section -->
      <div id="facts" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Facts and Numbers</h1>

        <!-- <div class="card shadow-sm p-3 mt-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-2 pl-3 pr-3"><strong>{{ articles }}</strong> journal articles</li>
            <li class="list-group-item p-2 pl-3 pr-3"><strong>{{ book_chapters }}</strong> book chapters</li>
            <li class="list-group-item p-2 pl-3 pr-3"><strong>{{ patents }}</strong> patents</li>
            <li class="list-group-item p-2 pl-3 pr-3"><strong>{{ communications }}</strong> oral and poster communications</li>
            <li class="list-group-item p-2 pl-3 pr-3"><strong>{{ awards }}</strong> awards</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="postdocs_completed"><strong>{{ postdocs_completed }}</strong> PostDocs completed</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="postdocs_oncourse"><strong>{{ postdocs_oncourse }}</strong> PostDocs on course</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="PhD_completed"><strong>{{ PhD_completed }}</strong> PhDs completed</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="PhD_oncourse"><strong>{{ PhD_oncourse }}</strong> PhDs on course</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="fellows_completed"><strong>{{ fellows_completed }}</strong> research fellowships completed</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="fellows_oncourse"><strong>{{ fellows_oncourse }}</strong> research fellowships on course</li>
            <li class="list-group-item collapse multi-collapse p-2 pl-3 pr-3" id="MSc_completed"><strong>{{ MSc_completed }}</strong> MSc theses completed</li>
            <li class="list-group-item border-0 collapse multi-collapse p-2 pl-3 pr-3" id="MSc_oncourse"><strong>{{ MSc_oncourse }}</strong> MSc theses on course</li>
            <li class="list-group-item collapse show p-2 pl-3 pr-3" id="collapse-button"><a class="link text-muted float-right" style="cursor: pointer;" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="postdocs_completed postdocs_oncourse PhD_completed PhD_oncourse fellows_completed fellows_oncourse MSc_completed MSc_oncourse">More...</a></li>
          </ul>
        </div> -->

        <div class="card shadow-sm mt-3">
           <div class="list-group list-group-flush">
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Journal Articles
              <span class="badge badge-egichem badge-pill">{{ articles }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Book Chapters
              <span class="badge badge-egichem badge-pill">{{ book_chapters }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Patents
              <span class="badge badge-egichem badge-pill">{{ patents }}</span>
            </a>
            <a href="{% url 'publications' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Communications
              <span class="badge badge-egichem badge-pill">{{ communications }}</span>
            </a>
            <a href="{% url 'awards' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Awards
              <span class="badge badge-egichem badge-pill">{{ awards }}</span>
            </a>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PostDocs completed
              <span class="badge badge-egichem badge-pill">{{ postdocs_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PostDocs on course
              <span class="badge badge-egichem badge-pill">{{ postdocs_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PhDs completed
              <span class="badge badge-egichem badge-pill">{{ PhD_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              PhDs on course
              <span class="badge badge-egichem badge-pill">{{ PhD_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Research Fellowships completed
              <span class="badge badge-egichem badge-pill">{{ fellows_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Research Fellowships on course
              <span class="badge badge-egichem badge-pill">{{ fellows_oncourse }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              MSc Theses completed
              <span class="badge badge-egichem badge-pill">{{ MSc_completed }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              MSc Theses on course
              <span class="badge badge-egichem badge-pill">{{ MSc_oncourse }}</span>
            </li>

          </div>
        </div>

      </div>




      <!-- Visit Also Section -->
      <!-- <div id="visit" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Visit</h1>
        
        <div class="card shadow-sm p-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item p-2 pl-3 pr-3"><a class="" target="_blank" href="http://www.ua.pt/">Universidade de Aveiro (UA)</a></li>
            <li class="list-group-item p-2 pl-3 pr-3"><a class="" target="_blank" href="http://www.ua.pt/dqua/">Department of Chemistry UA</a></li>
            <li class="list-group-item p-2 pl-3 pr-3"><a class="" target="_blank" href="http://www.ciceco.ua.pt/index.php?language=pt">CICECO - Aveiro Institute of Materials</a></li>
            <li class="list-group-item p-2 pl-3 pr-3"><a class="" target="_blank" href="http://www.ua.pt/dqua/PageCourse.aspx?id=31&b=1">Mestrado Integrado Engenharia Química</a></li>
            <li class="list-group-item p-2 pl-3 pr-3"><a class="" target="_blank" href="http://www.aipqr.pt/">APQuímica</a></li>
          </ul>
        </div>
      </div> -->

      <div id="visit" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Visit</h1>
        
        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/">Universidade de Aveiro (UA)</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/dqua/">Department of Chemistry UA</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ciceco.ua.pt/index.php?language=pt">CICECO - Aveiro Institute of Materials</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.ua.pt/dqua/PageCourse.aspx?id=31&b=1">Mestrado Integrado Engenharia Química</a>
            <a class="list-group-item list-group-item-action" target="_blank" href="http://www.aipqr.pt/">APQuímica</a>
          </ul>
        </div>
      </div>


      <!-- Calendar Section -->
      <div id="visit" class="mb-5">
        <h1 class="display-5 fw-bold mb-3">Events</h1>
        
        <div id='calendar' class="my-1"></div>

        <div class="embed-responsive embed-responsive-4by3 mt-3">
          <iframe class="embed-responsive-item" src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ZWdpY2hlbXVhQGdtYWlsLmNvbQ&amp;src=cHQtcHQucG9ydHVndWVzZSNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%237986CB&amp;color=%230B8043&amp;showTitle=0&amp;showNav=0&amp;hl=en_GB&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>

    </div> <!-- col-md-4 -->

  </div> <!-- row -->

</div>
{% endblock content %}

