{% extends "website/base.html" %}

{% block content %}
<div class="container mt-4">

  <h1 class="display-5 mb-3">
    {{ page_title}}
    <small class="text-muted font-weight-light d-none d-md-inline">{{ page_subtitle}}</small>
  </h1>

  {%  for unit in lab_units  %}
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card shadow-sm mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ unit.image.url }}" class="card-img" alt="Equipment image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ unit.title }}</h5>
              <p class="card-text">{{ unit.description }}</p>
              <p class="card-text">Equipment: <small class="text-muted">{{ unit.equipment }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- row closing -->
  {%  endfor %}

</div>
{% endblock content %}