{% extends "website/base.html" %}

{% block content %}

<!-- Highlighted - Professors -->
{%  if professors %}
{%  for professor in professors  %}
<div class="row mt-4 mb-3">
  <div class="col-md-12">
      <div class="card bg-light">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <img class="img-fluid img-thumbnail" src="{% if professor.user.profile.photo.url %}{{ professor.user.profile.photo.url }}{% else %}{{ professor.photo.url }}{% endif %}" alt="">
              <div class="mt-3">
                {% if professor.user.profile.scopus_url %}
                <a class="btn btn-outline-egichem btn-block" href="{{ professor.user.profile.scopus_url }}" role="button"><i class="fas fa-globe-europe"></i> Scopus</a>
                {% endif %}
                {% if professor.user.profile.scholar_url %}
                <a class="btn btn-outline-egichem btn-block" href="{{ professor.user.profile.scholar_url }}" role="button"><i class="ai ai-google-scholar"></i> Google Scholar</a>
                {% endif %}
                {% if professor.user.profile.linkedin_url %}
                <a class="btn btn-outline-egichem btn-block" href="{{ professor.user.profile.scholar_url }}" role="button"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
                {% endif %}
                {% if professor.user.profile.personal_url %}
                <a class="btn btn-outline-egichem btn-block" href="{{ professor.user.profile.scholar_url }}" role="button"><i class="fas fa-link"></i> Personal Page</a>
                {% endif %}
              </div>
            </div>
            <div class="col-md-9">
              <h4 class="card-title"><a class="link" href="{% url 'member_page' professor.slug %}">{{ professor.name }}</a></h4>
              <p class="card-text">{{ professor.user.profile.bio|safe }}</p>
            </div>
          </div>
        </div>
    </div>
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endfor %}
{%  endif %}


<!-- PostDoc Students -->
{%  if postdocs %}
<div class="row mt-4 mb-3">
  <div class="col-md-8 offset-md-2">
    <h3 class="text-divider"><span>PostDoc Researchers</span></h3>
  </div>
</div>

{%  for postdoc in postdocs  %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row mb-3">
  <div class="col-md-12">
      <div class="card-deck">
{%  endif %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{% if postdoc.user.profile.photo.url %}{{ postdoc.user.profile.photo.url }}{% else %}{{ postdoc.photo.url }}{% endif %}" alt="Photo">
              </div>
              <div class="col-md-8">
                <h4 class="card-title mb-2"><a class="link" href="{% url 'member_page' postdoc.slug %}">{{ postdoc.name }}</a></h4>
                <p class="card-text mb-3">{{ postdoc.research_area }}</p>
                <p class="card-text mb-1"><small class="text-muted">With EgiChem since {{ postdoc.date_added|date:"F Y" }}</small></p>
                <p class="card-text mb-1">
                  <small>
                    {% if postdoc.user.profile.scopus_url %}
                    <a class="link" href="{{ postdoc.user.profile.scopus_url }}" target="_blank">Scopus</a> &nbsp;
                    {% endif %}
                    {% if postdoc.user.profile.scholar_url %}
                    <a class="link" href="{{ postdoc.user.profile.scholar_url }}" target="_blank">Scholar</a> &nbsp; 
                    {% endif %}
                    {% if postdoc.user.profile.linkedin_url %}
                    <a class="link" href="{{ postdoc.user.profile.scholar_url }}" target="_blank">LinkedIn</a> &nbsp; 
                    {% endif %}
                    {% if postdoc.user.profile.personal_url %}
                    <a class="link" href="{{ postdoc.user.profile.scholar_url }}" target="_blank">Personal Page</a> &nbsp; 
                    {% endif %}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
{%  if forloop.counter|divisibleby:2 or forloop.last %}
    </div><!-- row closing -->
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endif %}
{%  endfor %}
{%  endif %}


<!-- PhD Students -->
{%  if phds %}
<div class="row mt-4 mb-3">
  <div class="col-md-8 offset-md-2">
    <h3 class="text-divider"><span>PhD Students</span></h3>
  </div>
</div>

{%  for phd in phds  %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row mb-3">
  <div class="col-md-12">
      <div class="card-deck">
{%  endif %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{% if phd.user.profile.photo.url %}{{ phd.user.profile.photo.url }}{% else %}{{ phd.photo.url }}{% endif %}" alt="Photo">
              </div>
              <div class="col-md-8">
                <h4 class="card-title mb-2"><a class="link" href="{% url 'member_page' phd.slug %}">{{ phd.name }}</a></h4>
                <p class="card-text mb-3">{{ phd.research_area }}</p>
                <p class="card-text mb-1"><small class="text-muted">With EgiChem since {{ phd.date_added|date:"F Y" }}</small></p>
                <p class="card-text mb-1">
                  <small>
                    {% if phd.user.profile.scopus_url %}
                    <a class="link" href="{{ phd.user.profile.scopus_url }}" target="_blank">Scopus</a> &nbsp;
                    {% endif %}
                    {% if phd.user.profile.scholar_url %}
                    <a class="link" href="{{ phd.user.profile.scholar_url }}" target="_blank">Scholar</a> &nbsp; 
                    {% endif %}
                    {% if phd.user.profile.linkedin_url %}
                    <a class="link" href="{{ phd.user.profile.linkedin_url }}" target="_blank">LinkedIn</a> &nbsp; 
                    {% endif %}
                    {% if phd.user.profile.personal_url %}
                    <a class="link" href="{{ phd.user.profile.personal_url }}" target="_blank">Personal Page</a> &nbsp; 
                    {% endif %}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
{%  if forloop.counter|divisibleby:2 or forloop.last %}
    </div><!-- row closing -->
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endif %}
{%  endfor %}
{%  endif %}


<!-- Research Fellows -->
{%  if fellows %}
<div class="row mt-4 mb-3">
  <div class="col-md-8 offset-md-2">
    <h3 class="text-divider"><span>Research Fellows</span></h3>
  </div>
</div>

{%  for fellow in fellows  %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row mb-3">
  <div class="col-md-12">
      <div class="card-deck">
{%  endif %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{% if fellow.user.profile.photo.url %}{{ fellow.user.profile.photo.url }}{% else %}{{ fellow.photo.url }}{% endif %}" alt="Photo">
              </div>
              <div class="col-md-8">
                <h4 class="card-title mb-2"><a class="link" href="{% url 'member_page' fellow.slug %}">{{ fellow.name }}</a></h4>
                <p class="card-text mb-3">{{ fellow.research_area }}</p>
                <p class="card-text mb-1"><small class="text-muted">With EgiChem since {{ fellow.date_added|date:"F Y" }}</small></p>
                <p class="card-text mb-1">
                  <small>
                    {% if fellow.user.profile.scopus_url %}
                    <a class="link" href="{{ fellow.user.profile.scopus_url }}" target="_blank">Scopus</a> &nbsp;
                    {% endif %}
                    {% if fellow.user.profile.scholar_url %}
                    <a class="link" href="{{ fellow.user.profile.scholar_url }}" target="_blank">Scholar</a> &nbsp; 
                    {% endif %}
                    {% if fellow.user.profile.linkedin_url %}
                    <a class="link" href="{{ fellow.user.profile.scholar_url }}" target="_blank">LinkedIn</a> &nbsp; 
                    {% endif %}
                    {% if fellow.user.profile.personal_url %}
                    <a class="link" href="{{ fellow.user.profile.scholar_url }}" target="_blank">Personal Page</a> &nbsp; 
                    {% endif %}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
{%  if forloop.counter|divisibleby:2 or forloop.last %}
    </div><!-- row closing -->
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endif %}
{%  endfor %}
{%  endif %}


<!-- MSc Students -->
{% if masters %}
<div class="row mt-4 mb-3">
    <div class="col-md-8 offset-md-2">
      <h3 class="text-divider"><span>MSc Students</span></h3>
    </div>
  </div>
  
{%  for master in masters  %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row mb-3">
  <div class="col-md-12">
      <div class="card-deck">
{%  endif %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{% if master.user.profile.photo.url %}{{ master.user.profile.photo.url }}{% else %}{{ master.photo.url }}{% endif %}" alt="Photo">
              </div>
              <div class="col-md-8">
                <h4 class="card-title mb-2">{{ master.name }}</h4>
                <p class="card-text mb-3">Thesis: {{ master.thesis }}</p>
                <p class="card-text mb-1"><small class="text-muted">With EgiChem since {{ master.date_added|date:"F Y" }}</small></p>
                <p class="card-text mb-1">
                  <small>
                    {% if master.user.profile.scopus_url %}
                    <a class="link" href="{{ master.user.profile.scopus_url }}" target="_blank">Scopus</a> &nbsp;
                    {% endif %}
                    {% if master.user.profile.scholar_url %}
                    <a class="link" href="{{ master.user.profile.scholar_url }}" target="_blank">Scholar</a> &nbsp; 
                    {% endif %}
                    {% if master.user.profile.linkedin_url %}
                    <a class="link" href="{{ master.user.profile.scholar_url }}" target="_blank">LinkedIn</a> &nbsp; 
                    {% endif %}
                    {% if master.user.profile.personal_url %}
                    <a class="link" href="{{ master.user.profile.scholar_url }}" target="_blank">Personal Page</a> &nbsp; 
                    {% endif %}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
{%  if forloop.counter|divisibleby:2 or forloop.last %}
    </div><!-- row closing -->
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endif %}
{%  endfor %}
{%  endif %}


<!-- Undergraduate Students -->
{% if undergraduates %}
<div class="row mt-4 mb-3">
    <div class="col-md-8 offset-md-2">
      <h3 class="text-divider"><span>Undergraduate Students</span></h3>
    </div>
  </div>
  
{%  for undergraduate in undergraduates  %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row mb-3">
  <div class="col-md-12">
      <div class="card-deck">
{%  endif %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid img-thumbnail" src="{% if undergraduate.user.profile.photo.url %}{{ undergraduate.user.profile.photo.url }}{% else %}{{ undergraduate.photo.url }}{% endif %}" alt="Photo">
              </div>
              <div class="col-md-8">
                <h4 class="card-title">{{ undergraduate.name }}</h4>
                <p class="card-text mb-2">Research area: {{ undergraduate.thesis }}</p>
                <p class="card-text mb-1"><small class="text-muted">With EgiChem since {{ undergraduate.date_added|date:"F Y" }}</small></p>
                <p class="card-text mb-2">
                  <small>
                    {% if undergraduate.user.profile.scopus_url %}
                    <a class="link" href="{{ undergraduate.user.profile.scopus_url }}" target="_blank">Scopus</a> &nbsp;
                    {% endif %}
                    {% if undergraduate.user.profile.scholar_url %}
                    <a class="link" href="{{ undergraduate.user.profile.scholar_url }}" target="_blank">Scholar</a> &nbsp; 
                    {% endif %}
                    {% if undergraduate.user.profile.linkedin_url %}
                    <a class="link" href="{{ undergraduate.user.profile.scholar_url }}" target="_blank">LinkedIn</a> &nbsp; 
                    {% endif %}
                    {% if undergraduate.user.profile.personal_url %}
                    <a class="link" href="{{ undergraduate.user.profile.scholar_url }}" target="_blank">Personal Page</a> &nbsp; 
                    {% endif %}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
{%  if forloop.counter|divisibleby:2 or forloop.last %}
    </div><!-- row closing -->
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->
{%  endif %}
{%  endfor %}
{%  endif %}


<!-- Alumni -->
<div class="row mt-4 mb-3">
    <div class="col-md-8 offset-md-2">
      <h3 class="text-divider"><span>Alumni</span></h3>
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-md-12">
      {% if alumni_postdocs %}
        <h5>PostDoc Researchers</h5>
        <p>
          {% for alumnus in alumni_postdocs  %}
            {% if alumnus.position == 'PostDoc Researcher' %}{{ alumnus.name }}{% if not forloop.last %} &#10022; {% endif %}{%  endif %}
          {%  endfor %}
        </p>
      {% endif %}
      {% if alumni_phds %}
        <h5>PhD Students</h5>
        <p>
          {% for alumnus in alumni_phds  %}
            {% if alumnus.position == 'PhD Student' %}{{ alumnus.name }}{% if not forloop.last %} &#10022; {% endif %}{%  endif %}
          {%  endfor %}
        </p>
      {% endif %}
      {% if alumni_fellows %}
        <h5>Research Fellows</h5>
        <p>
          {% for alumnus in alumni_fellows  %}
            {% if alumnus.position == 'Research Fellow' %}{{ alumnus.name }}{% if not forloop.last %} &#10022; {% endif %}{%  endif %}
          {%  endfor %}
        </p>
      {% endif %}
      {% if alumni_masters %}
        <h5>Master Students</h5>
        <p>
          {% for alumnus in alumni_masters %}
            {% if alumnus.position == 'MSc Student' %}{{ alumnus.name }}{% if not forloop.last %} &#10022; {% endif %}{%  endif %}
          {%  endfor %}
        </p>
      {% endif %}
      {% if alumni_undergraduate %} 
        <h5>Undergraduate Students</h5>
        <p>
          {% for alumnus in alumni_undergraduate  %}
            {% if alumnus.position == 'Undergraduate Student' %}{{ alumnus.name }}{% if not forloop.last %} &#10022; {% endif %}{%  endif %}
          {%  endfor %}
        </p>
      {% endif %}
  </div><!-- col-md-12 closing -->
</div><!-- row closing -->



{% endblock content %}
