{% extends "website/base.html" %}

{% block content %}

<!-- Previous version (to delete in the future) -->
{% comment %}
<div class="card-columns">
  {%  for field in research_fields  %}
  <div class="card">
    <img class="card-img-top" src="{{ field.image.url }}" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ field.title }}</h3>
      <p class="card-text">{{ field.content }}</p>
    </div>
  </div>
  {%  endfor %}
</div>
{% endcomment %}


<div class="row row-cols-1 row-cols-md-3">
  {% for field in research_fields %}
  <div class="col mb-4">
    <div class="card h-100">
      <img src="{{ field.image.url }}" class="card-img-top" alt="{{ field.title }}">
      <div class="card-body">
        <h3 class="card-title">{{ field.title }}</h3>
        <p class="card-text">{{ field.content }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}