{% extends "website/base.html" %}

{% block content %}

<!-- Disclaimer -->
<div class="alert alert-warning" role="alert">
  <p class="mb-0"><strong>Disclaimer</strong>: All calculators on this website are provided in good faith and are accurate to the best of our knowledge. However, EgiChem does not make any guarantees about this information. Any action you take upon the information you find here, is strictly your responsibility. Feel free to contact us if you have any questions.</p>
</div>

<!-- Online calculators - from calculators app -->
{% include 'calculators/_includes/calculators.html' %}


<!-- Linked or downloadable tools (X by 2 grid of cards) -->
<div class="row row-cols-1 row-cols-md-2">
  {% for tool in tools %}
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <p class="card-text mb-1"><small class="text-muted">{{ tool.filetype }}</small></p>
        <h3 class="card-title mb-3">{{ tool.title }}</h3>
        <p class="card-text">{{ tool.description|safe }}</p>
        {% if tool.program_file %}<a href="{{ tool.program_file.url }}" class="btn btn-egichem mr-2">Download</a>{% endif %}
        {% if tool.help_file %}<a href="{{ tool.help_file.url }}" class="btn btn-outline-egichem mr-2">Help</a>{% endif %}
        {% if tool.link %}<a href="{{ tool.link }}" class="btn btn-outline-egichem mr-2" target="_blank">Reference</a>{% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% comment %}
{% for tool in tools %}
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="unit-img">
                <img src="{{ tool.image.url }}" class="img-fluid mx-auto d-block" style="max-width: 150px;">
              </div>
            </div>
            <div class="col-md-9">
              <h5 class="card-title">{{ tool.title }}</h5>
              {% if tool.filetype %}<p class="text-muted small mt-0">{{ tool.filetype }}</p>{% endif %}
              {% if tool.description %}<p class="card-text">{{ tool.description }}</p>{% endif %}
              {% if tool.program_file %}<a href="{{ tool.program_file.url }}" class="btn btn-egichem mr-2">Download</a>{% endif %}
              {% if tool.help_file %}<a href="{{ tool.help_file.url }}" class="btn btn-outline-egichem mr-2">Help</a>{% endif %}
              {% if tool.link %}<a href="{{ tool.link }}" class="btn btn-outline-egichem mr-2">Original Article</a>{% endif %}
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div><!-- row closing -->
{%  endfor %}
{% endcomment %}

{% endblock content %}