[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-crispy-forms = "*"
cirpy = "*"
gunicorn = "*"
django-heroku = "*"
django-storages = "*"
boto3 = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
pcsaft = "*"
pandas = "*"
scikit-learn = "~=0.23.1"

[requires]
python_version = "3"
