html {
  position: relative;
  min-height: 100%;
}

body {
  /* background: #fafafa; */
  color: #333333;
  /* margin-top: 5rem; */
  margin-bottom: 200px; /* Margin bottom by footer height */
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

/* EGICHEM COLORS */
.bg-egichem-green {
  background-color: #62AA23;
}

.text-egichem-green {
  color: #62AA23;
}

.text-small {
  font-size: small;
}

.site-header .navbar-nav .nav-link {
  /* color: #cbd5db; */
  color: #62AA23;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  /* border-bottom: 5px solid #62AA23; */
  background-color: #62AA23;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* LINKS STYLES */
main a.link {
  color: #333333;
  background: linear-gradient(transparent 66%, rgba(98, 170, 35, 0.3) 33%);
}

main a.link:hover {
  color: #333333;
  background: linear-gradient(transparent 66%, rgba(98, 170, 35, 0.7) 33%);
  text-decoration: none;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
  /* height: 60px; Set the fixed height of the footer here */
  background-color: #fafafa;
}

.carousel-item {
  height:220px;    
  overflow:hidden;
}

.carousel-item img {
  min-height: 100%;
}

/* CARD DECK */
/* Forces a max width so if a row is not full, all cards have same width. Only applied in desktop mode */
@media (min-width: 768px) {
  .card-deck .card {
    max-width: calc(50% - 30px);
  }
}

/* HORIZONTAL DIVIDER */
.text-divider{
  margin: 1em 0; 
  line-height: 0; 
  text-align: center;
}

.text-divider span{
  color: #6c757d;
  background-color: #fff; 
  padding: 0.5em;}

.text-divider:before{ 
  content: " "; 
  display: block; 
  border-top: 1px solid #e3e3e3; 
  border-bottom: 1px solid #f7f7f7;
}

/* .content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
} */