/* 
CSS SECTIONS:
- GENERAL
- EGICHEM COLORS
- LINKS STYLES
- MOBILE NAV
- CARD DECK
- HORIZONTAL DIVIDER
- Unorganized 
*/


/* GENERAL */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* background: #fafafa; */
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}


/* EGICHEM COLORS */
.bg-egichem-green {
  background-color: #62AA23;
}

.text-egichem-green {
  color: #62AA23;
}

.btn-outline-egichem {
  color: #62AA23;
  background-color: transparent;
  background-image: none;
  border-color: #62AA23;
}

.btn-outline-egichem:hover {
  color: #fff;
  background-color: #62AA23;
  border-color: #62AA23;
}

.text-small {
  font-size: small;
}

.site-header .navbar-nav .nav-link {
  /* color: #cbd5db; */
  color: #62AA23;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
  /* border-bottom: 5px solid #62AA23; */
  background-color: #62AA23;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


/* LINKS STYLES */
a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: rgba(97, 169, 34, 0.8);
  text-decoration: none;
} 

/* main a.link {
  color: #333333;
  background: linear-gradient(transparent 66%, rgba(98, 170, 35, 0.3) 33%);
}

main a.link:hover {
  color: #333333;
  background: linear-gradient(transparent 66%, rgba(98, 170, 35, 0.7) 33%);
  text-decoration: none;
} */

a.tab-link {
  color: #62AA23;
}

a.tab-link.active {
  color: #495057;
}

a.link {
  border-bottom: 1px dotted #222222;
  /* Below is an alternative trick that allows to change spacing between dots */
  /* background-image: linear-gradient(to right, #222222 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x; */
}

a.link:hover {
  border-bottom: 1px dotted rgba(97, 169, 34, 0.8);
}


/* MOBILE NAV */
@media (max-width: 768px) { 
  /* Fix the margin of the right hand icon buttons */
  .fix-margin {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .navbar {
    background-color: #f8f9fa!important;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }

  .navbar-toggler {line-height: inherit;}
}


/* BANNER CAROUSEL */
.carousel-item {
  height:220px;    
  overflow:hidden;
}

.carousel-item img {
  min-height: 100%;
}

/* CARD DECK */
/* Forces a max width so if a row is not full, all cards have same width. Only applied in desktop mode */
@media (min-width: 768px) {
  .card-deck .card {
    max-width: calc(50% - 30px);
  }
}

/* HORIZONTAL DIVIDER */
.text-divider{
  margin: 1em 0; 
  line-height: 0; 
  text-align: center;
}

.text-divider span{
  color: #6c757d;
  background-color: #fff; 
  padding: 0.5em;}

.text-divider:before{ 
  content: " "; 
  display: block; 
  border-top: 1px solid #e3e3e3; 
  border-bottom: 1px solid #f7f7f7;
}


/* TABS TO ACCORDION ON MOBILE */
h4.card-title {
	margin: 0;
	font-size: 1.1rem;
}

.card-header {
  padding: 5px;
}

/* .card-soup > .card {
  margin-bottom: 20px;
} */




/* .content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}*/

/* .account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}  */