{% extends "lab/base.html" %}

{% block content %}

{% if announcements %}
<h2 class="mt-4 mb-3">Announcements</h2>

<div class="row">
  <div class="col">
    <div class="card-deck">
      {% for announcement in announcements %}
        <div class="card mb-4 border-primary text-primary">
          <div class="card-body">
            <h5 class="mt-0">{{ announcement.title }}</h5>
            <p>{{ announcement.content }}</p>
            <p class="text-muted mb-0"><small>{{ announcement.user.username }}</small></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}


<h2 class="mt-4 mb-3">EgiChem Lab Management</h2>

{% comment %}
<div class="row">
  <div class="col">
    <div class="card-deck">
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Inventory</h4>
          <p class="card-text">List of all reagents, materials and tools currently available at Lab 29.1.5.</p>
          <p class="card-text"><small class="text-muted">Last updated {{ last_modified_material.modified|date:"Y/n/j G:i" }}</small></p>
          <a href="{% url 'inventory' %}" class="btn btn-primary">Inventory</a>
          <a href="{% url 'material-create' %}" class="btn btn-outline-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update personal info</h4>
          <p class="card-text">Update your personal information: username, e-mail, bio, photo, links...</p>
          <p class="card-text"><small class="text-muted"><a href="{% url 'member_page' user.member.slug %}" class="card-link">{{ user.username }} Personal Page</a></small></p>
          <a href="{% url 'profile' %}" class="btn btn-primary">Update Profile</a>
          <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Password Reset</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Book Library</h4>
          <p class="card-text">A collection of Chemical Engineering books in PDF format.</p>
          <p class="card-text"><small class="text-muted">Files available on Google Drive.</small></p>
          <a href="https://drive.google.com/drive/folders/0B7VAUlhkJstLRkdWc0JUdG9GSUU?usp=sharing" target="_blank" class="btn btn-primary mt-auto">Books</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row mt-1 mt-md-4">
  <div class="col">
    <div class="card-deck">
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">List of computers</h4>
          <p class="card-text">List of all EgiChem PCs and respective information (name, IP, location, etc.).</p>
          <p class="card-text"><small class="text-muted">Google Spreadsheet</small></p>
          <a href="https://docs.google.com/spreadsheets/d/1ah39PH27W8UiKvctKyqXbuuOfWB9X_EsOM0BHTLayVQ/edit?usp=sharing" class="btn btn-primary">PC list</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lab procedures</h4>
          <p class="card-text">Document containing cleaning, maintenance, and safety procedures.</p>
          <p class="card-text"><small class="text-muted">Google Docs</small></p>
          <a href="https://docs.google.com/document/d/1je0uitNCiWrQeTUAmuDxEG5wz0hoQfhhMmOKT3krxpM/edit?usp=sharing" class="btn btn-primary">Document</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lab Teams</h4>
          <p class="card-text">Up to date laboratory managements teams (cleaning, technical and safety) </p>
          <p class="card-text"><small class="text-muted">Google Spreadsheet</small></p>
          <a href="#" class="btn btn-primary disabled">Teams</a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endcomment %}


<div class="row row-cols-1 row-cols-md-3">

  <!-- Inventory Card -->
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Inventory</h4>
        <p class="card-text">List of all reagents, materials and tools currently available at Lab 29.1.5.</p>
        <p class="card-text"><small class="text-muted">Last updated {{ last_modified_material.modified|date:"Y/n/j G:i" }}</small></p>
        <a href="{% url 'inventory' %}" class="btn btn-primary">Inventory</a>
        <a href="{% url 'material-create' %}" class="btn btn-outline-primary">Add Item</a>
      </div>
    </div>
  </div>

  <!-- Edit Profile Card -->
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">Update personal info</h4>
        <p class="card-text">Update your personal information: username, e-mail, bio, photo, links...</p>
        <p class="card-text"><small class="text-muted"><a href="{% url 'member_page' user.member.slug %}" class="card-link">{{ user.username }} Personal Page</a></small></p>
        <a href="{% url 'profile' %}" class="btn btn-primary">Update Profile</a>
        <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Password Reset</a>
      </div>
    </div>
  </div>

  <!-- External Resources Cards -->
  {% for resource in external_resources %}
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">{{ resource.title }}</h4>
        <p class="card-text">{{ resource.description }}</p>
        <p class="card-text"><small class="text-muted">{{ resource.resource_type }}</small></p>
        <a href="{{ resource.url1 }}" class="btn btn-primary" target="_blank">{{ resource.url1_text }}</a>
        {% if resource.url2 %}
        <a href="{{ resource.url2 }}" class="btn btn-outline-primary" target="_blank">{{ resource.url2_text }}</a>
        {% endif %}
        {% if resource.url3 %}
        <a href="{{ resource.url3 }}" class="btn btn-outline-primary" target="_blank">{{ resource.url3_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock content %}