{% extends "lab/base.html" %}

{% block content %}

{% if announcements %}
<h2 class="mt-4 mb-3">Announcements</h2>

<div class="row">
  <div class="col">
    <div class="card-deck">
      {% for announcement in announcements %}
        <div class="card mb-4 border-primary text-primary">
          <div class="card-body">
            <h5 class="mt-0">{{ announcement.title }}</h5>
            <p>{{ announcement.content }}</p>
            <p class="text-muted mb-0"><small>{{ announcement.user.username }}</small></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}


<h2 class="mt-4 mb-3">EgiChem Lab Management</h2>

<div class="row">
  <div class="col">
    <div class="card-deck">
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Inventory</h4>
          <p class="card-text">List of all reagents, materials and tools currently available at Lab 29.1.5.</p>
          <p class="card-text"><small class="text-muted">Last updated {{ last_modified_material.modified|date:"Y/n/j G:i" }}</small></p>
          <a href="{% url 'inventory' %}" class="btn btn-primary">Inventory</a>
          <a href="{% url 'material-create' %}" class="btn btn-outline-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update personal info</h4>
          <p class="card-text">Update your personal information: username, e-mail, bio, photo, links...</p>
          <p class="card-text"><small class="text-muted"><a href="{% url 'member_page' user.member.slug %}" class="card-link">{{ user.username }} Personal Page</a></small></p>
          <a href="{% url 'profile' %}" class="btn btn-primary">Update Profile</a>
          <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Password Reset</a>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Book Library</h4>
          <p class="card-text">A collection of Chemical Engineering books in PDF format.</p>
          <p class="card-text"><small class="text-muted">Files available on Google Drive.</small></p>
          <a href="https://drive.google.com/drive/folders/0B7VAUlhkJstLRkdWc0JUdG9GSUU?usp=sharing" target="_blank" class="btn btn-primary mt-auto">Books</a>
        </div>
      </div>

    </div>
  </div>
</div>







{% endblock content %}