{% extends "lab/base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h2 class="mt-4 mb-3">EgiChem Lab Management</h2>
    <!-- <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident eveniet doloribus fugit, enim unde velit facilis, aperiam nemo veritatis rerum tempora aut porro nostrum, earum quibusdam distinctio eius? Minima, maiores.</p> -->   
    
    <div class="card-deck mt-3">
      <div class="card">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h4 class="card-title">Inventory</h4>
          <p class="card-text">List of all reagents, compounds, and solvents currently available at Lab 29.1.5.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{% url 'inventory' %}" class="btn btn-primary">Inventory</a>
          <a href="{% url 'material-create' %}" class="btn btn-outline-primary">Add Item</a>
        </div>
      </div>
      
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Update personal info</h4>
          <p class="card-text">Try to keep your personal information updated.</p>
          <p class="card-text"><small class="text-muted"><a href="{% url 'member_page' user.member.slug %}" class="card-link">{{ user.username }} Personal Page</a></small></p>
          <a href="{% url 'profile' %}" class="btn btn-primary">Update Profile</a>
          <a href="{% url 'password_reset' %}" class="btn btn-outline-primary">Password Reset</a>
        </div>
      </div>
    </div>
    
  </div>

  <div class="col-md-4">
    <h2 class="mt-4 mb-3">Announcements</h2>

    {% if announcements %}
      {% for announcement in announcements %}
      <div class="card mb-4 border-primary text-primary">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0">{{ announcement.title }}</h5>
              <p>{{ announcement.content }}</p>
              <p class="text-muted mb-0"><small>{{ announcement.user.username }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>Nothing at this time.</p>
    {% endif %}
  </div>
</div>





{% endblock content %}