{% extends "lab/base.html" %}

{% block content %}

<h1 class="display-4 mt-4">Materials Inventory</h1>
<p class="lead">
  Below is a list of all reagents, compounds, and solvents currently available at Lab 29.1.5. Please try to keep this list updated.
</p>

<div class="row">
  <div class="col-md-3">
    <a class="btn btn-primary mb-2 mb-md-0" href="{% url 'material-create' %}" role="button">
      <i class="fas fa-plus"></i> Add Item to Inventory
    </a>
  </div>

  <div class="col-md-9">
    <form class="form-inline float-md-right" method="GET" action="">
      <label class="sr-only" for="inlineFormInputName2">Search Field</label>
      <input type="text" name="q" class="form-control mb-2 mr-sm-2" placeholder="E.g. metanol" value="{{ request.GET.q }}">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
  </div>
</div>




<div id="inventory" class="mt-4 table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Specifications</th>
        <th scope="col">Amount</th>
        <th scope="col">Location</th>
        <th class="fit" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for material in materials %}
      <tr>
        <td>{{ material.name }}</td>
        <td>{{ material.specifications }}</td>
        <td>{{ material.amount }}</td>
        <td>{{ material.location }}</td>
        <td class="fit">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-{{ material.pk }}"><i class="fas fa-info"></i></button>
            <a class="btn btn-secondary" href="{% url 'material-update' material.id %}" role="button"><i class="fas fa-edit"></i></a>
            <a class="btn btn-secondary" href="{% url 'material-delete' material.id %}" role="button"><i class="fas fa-trash"></i></a>
          </div>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if is_paginated %}

<!-- Bootstrap Pagination -->
<nav aria-label="Inventory Navigation">
  <ul class="pagination">		
		{% if page_obj.has_previous %}
		<li class="page-item"><a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">First</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a></li>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<li class="page-item active"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			<li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
		{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a></li>
		<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last</a></li>
		{% endif %}
  </ul>
</nav>

{% endif %}

<!-- Modals for item details -->
{% for material in materials %}
<div id="modal-{{ material.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ material.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Specifications: {{ material.specifications }}</p>
        <p>Quantity available: {{ material.amount }}</p>
        <p>Storage location: {{ material.location }}</p>
        <p class="text-muted small">Last updated by <u>{{ material.user }}</u> on <u>{{ material.modified|date:"Y/n/j G:i" }}</u>. Originally created on <u>{{ material.created|date:"Y/n/j G:i" }}</u>.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="{% url 'material-update' material.id %}" role="button">Update</a>
        <a class="btn btn-danger" href="{% url 'material-delete' material.id %}" role="button">Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}