{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mb-3">
  <div class="col">
    <h2>Supercritical carbon dioxide density and viscosity calculation</h2>
  </div>
</div>

<!-- {{ form|crispy }} -->

<div class="row">
  <div class="col-md-5">
    <form method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      
      <div class="form-group row">
        {{ form.cosolvent.errors }}
        <label for="{{ form.cosolvent.id_for_label }}" class="col-sm-4 col-form-label">Cosolvent</label> 
        <div class="col-sm-8"> 
          {{ form.cosolvent }}
        </div>
      </div>

      <div class="form-group row">
        {{ form.temperature.errors }}
        <label for="{{ form.temperature.id_for_label }}" class="col-sm-4 col-form-label">Temperature (&#176;C)</label>
        <div class="col-sm-8">
          {{ form.temperature }}
        </div>
      </div>

      <div class="form-group row">
        {{ form.pressure.errors }}
        <label for="{{ form.pressure.id_for_label }}" class="col-sm-4 col-form-label">Pressure (bar)</label>
        <div class="col-sm-8">
          {{ form.pressure }}
        </div>
      </div>
      
      <div class="form-group row" id="cosolvent_fraction_div" style="display: {% if form.data.cosolvent == 'ETHANOL' %}flex{% else %}none{% endif %}">
        {{ form.cosolvent_fraction.errors }}
        <label for="{{ form.cosolvent_fraction.id_for_label }}" class="col-sm-4 col-form-label">Cosolvent fraction</label>
        <div class="col-sm-8">
          {{ form.cosolvent_fraction }}
        </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-egichem">Calculate</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-5 offset-md-2">
    <form>
      <div class="form-group row">
        <label for="density" class="col-sm-4 col-form-label">Density (g&#183;cm<sup>-3</sup>)</label> 
        <div class="col-sm-8">
          <input type="text" name="density" value="{{ density }}" class="form-control" disabled>
        </div>
      </div>
      <div id="viscosityDiv" class="form-group row">
        <label for="viscosity" class="col-sm-4 col-form-label">Viscosity (cP)</label> 
        <div class="col-sm-8">
          <input type="text" name="viscosity" value="{{ viscosity }}" class="form-control" disabled>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4>Notes:</h4>
    <p>The calculator above uses the AG-HGK equation<sup>1</sup> to calculate pure CO<sub>2</sub> density and the Altunin-Skhabetinov correlation<sup>2</sup> to calculate viscosity.</p>
    <p>Pure ethanol density is calculated using the Tait equation<sup>3</sup> and viscosity is calculated using the Mamedov equation<sup>4</sup>.</p>
    <p>For CO<sub>2</sub> / Ethanol mixtures, density is calculated using the Soave-Redlich-Kwong equation of state<sup>5</sup> while viscosity is calculated using the Kendall and Monroe mixing relation<sup>6</sup>.</p>
    <p>Valid for <em>T</em> > 31.10 &#176;C and <em>P</em> > 73.9 bar.</p>


    <h4 class="mt-4">References:</h4>
    <p><sup>1</sup> <a class="text-dark publication-link" href="" target="_blank">V.V. Altunin, M.A. Skhabetinov, <em>Teploenergetika</em>, 8 (1972) 85.</a></p>
    <p><sup>2</sup> <a class="text-dark publication-link" href="https://www.sciencedirect.com/science/article/pii/0378381288800323" target="_blank">K.S. Pitzer, D.R. Schreiber. Improving equation-of-state accuracy in the critical region; equations for carbon dioxide and neopentane as examples, <em>Fluid Phase Equilibria</em> 41, 1–2 (1988)1-17.</a></p>
    <p><sup>3</sup> <a class="text-dark publication-link" href="https://link.springer.com/article/10.1007/BF01441581#citeas" target="_blank">M.J. Assael, J.H. Dymond, S.K. Polimatidou, Int J Thermophys 15 (1994) 189.</a></p>
    <p><sup>4</sup> <a class="text-dark publication-link" href="https://www.sciencedirect.com/science/article/pii/S0378381215300157" target="_blank">J.J. Cano-Gómez, G.A. Iglesias-Silva, M. Ramos-Estrada, Correlations for the prediction of the density and viscosity of 1-alcohols at high pressures, Fluid Phase Equilibria 404 (2015) 109-117.</a></p>
    <p><sup>5</sup> <a class="text-dark publication-link" href="https://www.sciencedirect.com/science/article/pii/S0021961412003801" target="_blank">M. Kariznovi, H. Nourozieh, J. Abedi, Experimental measurements and predictions of density, viscosity, and carbon dioxide solubility in methanol, ethanol, and 1-propanol, The Journal of Chemical Thermodynamics, 57 (2013) 408-415. </a></p>
    <p><sup>6</sup> <a class="text-dark publication-link" href="https://pubs.acs.org/doi/abs/10.1021/ja02254a001" target="_blank">J. Kendall, K.P. Monroe, The viscosity of liquids. II. The viscosity composition curve for ideal liquid mixtures, Journal of the American Chemical Society  39-9 (1917) 1787-1802.</a></p>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<script>

  function cosolventStatus() {
    if (selectElement.value == 'NONE') {
      selectDiv.style.display = "none";
    } else {
      selectDiv.style.display = "flex";
    }
  }

  var selectElement = document.getElementById('id_cosolvent');
  var selectDiv = document.getElementById('cosolvent_fraction_div');

  selectElement.addEventListener("change", function () {
    cosolventStatus()
  });
</script>
{% endblock %}