{% extends "website/base.html" %} 
{% load static %}
{% block content %}


<div class="row mb-3">
  <div class="col">
    <h2>Estimation of diffusivities in supercritical carbon dioxide</h2>
  </div>
</div>

<div class="alert alert-secondary">
  <div class="row">
    <div class="col-lg-8 align-self-center">
      <span>Online calculator coming soon! Download the software for offline use.</span>
    </div>
    <div class="col-lg-4">
      <div class="float-md-right mt-2 mt-md-0">
        <a href="{% static 'calculators/ML-SC-CO2.zip' %}" class="btn btn-egichem" download>Download</a>
        <a href="https://github.com/EgiChem/ml-D12-app" class="btn btn-egichem" target="_blank">Github</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4>Notes:</h4>
    <p>This tool estimates the binary diffusivity of a solute in supercritical carbon dioxide using a machine learning model trained with 4000 experimental data points from over 170 systems.</p>
    <h5 id="requirements" class="mt-3">Requirements</h5>
    <p>Python 3 and the following Python libraries are also required:</p>
    <ul>
      <li>numpy</li>
      <li>pandas</li>
      <li>scikit-learn</li>
      <li>joblib</li>
    </ul>
    <p>Program is fully tested on:</p>
    <ul>
      <li>Python 3.7</li>
      <li>numpy 1.18.5</li>
      <li>pandas 1.0.5</li>
      <li>scikit-learn 0.23.1</li>
    </ul>
    <h5 id="installation" class="mt-3">Installation</h5>
    <ol>
      <li>Install Python from <a href="https://www.python.org/">python.org</a>.</li>
      <li>Download the software by clicking <code>Code</code> &gt;&gt; <code>Download ZIP</code>. </li>
      <li>Unpack the zip file.</li>
      <li>Open the command line and run <code>pip install -r requirements.txt</code> to install the required libraries.</li>
      <li>You can now <code>cd</code> to the program folder and use it as described below.</li>
    </ol>
    <h5 id="usage" class="mt-3">Usage</h5>
    <h6 id="option-1-by-providing-the-properties-in-order-">Option 1) By providing the properties in order:</h6>
    <p>Call the program and provide the five properties as float in the following order:</p>
    <ol>
      <li>Temperature (K)</li>
      <li>Density (g/cm3)</li>
      <li>Solute molecular mass (g/mol)</li>
      <li>Solute critical pressure (bar)</li>
      <li>Solute acentric factor (-)</li>
    </ol>
    <pre><code class="lang-python">python predict<span class="hljs-selector-class">.py</span> --properties YOUR_TEMPERATURE YOUR_DENSITY YOUR_MOLECULAR_MASS YOUR_CRITICAL_PRESSURE YOUR_ACENTRIC_FACTOR</code></pre>
    <p>Example:</p>
    <pre><code class="lang-python">python predict.py --properties <span class="hljs-number">313.15</span> <span class="hljs-number">0.830000647</span> <span class="hljs-number">430.71</span> <span class="hljs-number">8.45543</span> <span class="hljs-number">0.8071</span>

<span class="hljs-meta"># Output:</span>
<span class="hljs-meta"># Predicted diffusivities:</span>
<span class="hljs-meta"># D12(1) = 5.81821846E-05 cm2/s</span></code></pre>
    <h6 id="option-2-by-specifying-each-property-">Option 2) By specifying each property:</h6>
    <p>In this case the order is irrelevant. </p>
    <pre><code class="lang-python"><span class="hljs-string">python </span><span class="hljs-string">predict.</span><span class="hljs-string">py </span><span class="hljs-built_in">--temperature</span> <span class="hljs-string">YOUR_TEMPERATURE </span><span class="hljs-built_in">--density</span> <span class="hljs-string">YOUR_DENSITY </span><span class="hljs-built_in">--molecularmass</span> <span class="hljs-string">YOUR_MOLECULAR_MASS </span><span class="hljs-built_in">--criticalpressure</span> <span class="hljs-string">YOUR_CRITICAL_PRESSURE </span><span class="hljs-built_in">--acentricfactor</span> <span class="hljs-string">YOUR_ACENTRIC_FACTOR</span>
<span class="hljs-comment"># OR using </span>

<span class="hljs-string">python </span><span class="hljs-string">predict.</span><span class="hljs-string">py </span>-t <span class="hljs-string">YOUR_TEMPERATURE </span>-d <span class="hljs-string">YOUR_DENSITY </span>-<span class="hljs-string">mm </span><span class="hljs-string">YOUR_MOLECULAR_MASS </span>-<span class="hljs-string">cp </span><span class="hljs-string">YOUR_CRITICAL_PRESSURE </span>-<span class="hljs-string">af </span><span class="hljs-string">YOUR_ACENTRIC_FACTOR</span></code></pre>
    <p>Example:</p>
    <pre><code class="lang-python">python predict.py -t <span class="hljs-number">313.15</span> -d <span class="hljs-number">0.830000647</span> -mm <span class="hljs-number">430.71</span> -cp <span class="hljs-number">8.45543</span> -af <span class="hljs-number">0.8071</span>

<span class="hljs-meta"># Output:</span>
<span class="hljs-meta"># Predicted diffusivities:</span>
<span class="hljs-meta"># D12(1) = 5.81821846E-05 cm2/s</span></code></pre>
    <h6 id="option-3-by-specifying-a-data-csv-file-with-the-input-data-">Option 3) By specifying a data CSV file with the input data:</h6>
    <p>The CSV file must include at least five columns with the following names: <code>T</code>, <code>density</code>, <code>solute.M2</code>, <code>solute.Pc</code>, and <code>solute.w</code>. You can provide any number of points as rows.</p>
    <pre><code class="lang-python">python predict<span class="hljs-selector-class">.py</span> --csvfile YOUR_CSVFILE_PATH</code></pre>
    <p>Example:</p>
    <pre><code class="lang-python"><span class="hljs-meta"># Using a file in the same directory with 3 points (rows)</span>
python predict.py --csvfile data.csv

<span class="hljs-meta"># Output:</span>
<span class="hljs-meta"># Predicted diffusivities:</span>
<span class="hljs-meta"># D12(1) = 5.03732712E-05 cm2/s</span>
<span class="hljs-meta"># D12(2) = 1.05026748E-04 cm2/s</span>
<span class="hljs-meta"># D12(3) = 9.14913157E-05 cm2/s</span></code></pre>
    <h6 id="save-results">Save results</h6>
    <p>Optionally you can use the <code>--save</code> or <code>-s</code> flag to save the results in an csv file.</p>
    <pre><code class="lang-python"><span class="hljs-comment">python</span> <span class="hljs-comment">predict</span><span class="hljs-string">.</span><span class="hljs-comment">py</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">csvfile</span> <span class="hljs-comment">YOUR_CSVFILE_PATH</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">save</span></code></pre>

  </div>
</div>
{% endblock content %}

{% block scripts %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
