{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mb-3">
  <div class="col">
    <h2>Fit adsorption isotherms to data</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-egichem" type="submit" value="Fit Isotherms">
      <button type="button" class="btn btn-outline-egichem" onclick="dummyData()">Example data</button>
    </form>
  </div>

  <div class="col-md-3 offset-md-1">
    {% for isotherm_name, isotherm_results in data_out.items %}
    <h5>{{ isotherm_name }}</h5>
    <table class="table table-sm table-borderless">
      <tbody>
        {% for param_name, param_value in isotherm_results.params.items %}
        <tr>
          <td>{{ param_name }}</td>
          <td>{{ param_value|floatformat:4 }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td>AARD (%)</td>
          <td>{{ isotherm_results.aard|floatformat:2 }}</td>
        </tr>
      </tbody>
    </table>
    {% endfor %}

  </div>

  <div class="col-md-5">
      <div id="plot"></div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h4>Notes:</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse consequatur libero, ad error facilis perspiciatis commodi placeat molestias, nesciunt voluptatibus facere expedita vero tenetur temporibus iure quae laudantium repudiandae distinctio.</p>

    <h4 class="mt-4">References:</h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe deleniti, fugiat neque voluptas ex, sunt numquam facilis aperiam iure voluptatum rerum totam quibusdam voluptates placeat. Voluptas voluptatem similique placeat soluta!</p>
  </div>
</div>
{% endblock content %}


{% block scripts %}
<!-- Load Ploty -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Plot isotherms -->
<script>
  plotDiv = document.getElementById('plot');

  var exp = {
    x: {{ data_in.x }},
    y: {{ data_in.y }},
    mode: 'markers',
    type: 'scatter',
    name: 'Experimental'
  };

  var data = [exp];

  {% for isotherm_name, isotherm_results in data_out.items %}
    data.push({
      x: {{ isotherm_results.xmodel }},
      y: {{ isotherm_results.ymodel }},
      mode: 'lines',
      type: 'scatter',
      name: '{{ isotherm_name }}'
    });
  {% endfor %}

  var layout = {
    showlegend: true,
	  legend: {"orientation": "h"}
  };

  Plotly.newPlot(plotDiv, data, layout);

</script>

<!-- Dummy data button -->
<script>
  function dummyData() {
    XY_DATA = `0 0
4.7 0.061
7.0 0.073
9.31 0.094
16.6 0.118
32.5 0.139
62.8 0.157`

    document.getElementById('id_xy_data').value = XY_DATA;
    document.getElementById('id_isotherm_type_2').checked = true;
    document.getElementById('id_isotherm_type_3').checked = true;
    document.getElementById('id_isotherm_type_4').checked = true;
    document.getElementById('id_isotherm_type_5').checked = true;    
  }
</script>
{% endblock %}