{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-4">

  <div class="row mb-3">
    <div class="col">
      <h1 class="display-5 mb-3">Fit adsorption isotherms to data</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-egichem" type="submit" value="Fit Isotherms">
        <button type="button" class="btn btn-outline-egichem" onclick="dummyData()">Example data</button>
      </form>
    </div>

    <div class="col-md-3 offset-md-1 mt-4 mt-md-0">
      {% for isotherm_name, isotherm_results in data_out.items %}
      <h5>{{ isotherm_name }} model</h5>
      <table class="table table-sm table-borderless">
        <tbody>
          {% for param_name, param_value in isotherm_results.params.items %}
          <tr>
            <td>\({{ param_name }}\)</td>
            <td>{{ param_value|floatformat:4 }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td>\(AARD\) (%)</td>
            <td>{{ isotherm_results.aard|floatformat:2 }}</td>
          </tr>
          <tr>
            <td>\(R^2\)</td>
            <td>{{ isotherm_results.r_square|floatformat:4 }}</td>
          </tr>
          <tr>
            <td>\(R_{adj}^2\)</td>
            <td>{{ isotherm_results.r_square_adjusted|floatformat:4 }}</td>
          </tr>
        </tbody>
      </table>
      {% endfor %}

    </div>

    <div class="col-md-5">
        <div id="plot"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h4>Notes:</h4>

      <h5 class="font-italic">Isotherm models</h5>
      <p>The isotherm is the analytical relation between the solute concentration in the solid, or solid load, \(q\), and its concentration in the fluid phase, \(C\), at constant temperature.</p> 
      
      <h5>Linear</h5>
      <p>\[q = H C\]</p>
      <p>where \(H\) is the linear equilibrium constant.</p>

      <h5>Langmuir</h5>
      <p>\[q = \frac{a C}{1 + b C}\]</p>
      <p>where \(a = Q b\), \(Q\) is the adsorbent capacity and \(b\) is the adsorption equilibrium constant.</p>

      <h5>Freundlich</h5>
      <p>\[q = k C^{1/n}\]</p>
      <p>where \(k\) and \(n\) are Freundlich isotherm constants for a given adsorbate and adsorbent at a given temperature.</p>

      <h5>Linear-Langmuir</h5>
      <p>\[q = m C + \frac{a C}{1 + b C}\]</p>
      <p>which adds a linear contribution, \(m\), term to the Langmuir model.</p>

      <h5>Bi-Langmuir</h5>
      <p>\[q = \frac{a_1 C}{1 + b_1 C} + \frac{a_2 C}{1 + b_2 C}\]</p>
      <p>where two Langmuir contributions are considered representing two adsorption sites.</p>

      <h5>Langmuir-Freundlich</h5>
      <p>\[q = \frac{a C^n}{1 + b C^n}\]</p>
      <p>a combination of the Langmuir and Freundlich isotherms.</p>

      <h5 class="mt-5 font-italic">Fitting performance</h5 class="mt-5">
      <p>The average absolute relative deviation (\( AARD \)), determination coefficient (\(R^2\)), and adjusted determination (\(R_{adj}^2\)) were used to evaluated the quality of fit of the isotherm models. These are defined below, where \( y_i^{exp} \) is the experimental value, \(y_i^{calc}\) is the calculated or expected value, \( \bar{y}_i \) is the mean of the experimental values, \( NDP \) is the number of data points, and \( p \) is the number of model parameters.</p>

      <h5>Average Absolute Relative Deviation</h5>
      <p>\[AARD = \frac{100}{NDP} \sum_{i=1}^{NDP} \frac{|y_i^{calc}-y_i^{exp}|}{y_i^{exp}}\]</p>

      <h5>Determination coefficient</h5>
      <p>\[R^2 = 1 - \frac{ \sum_{i} (y_i^{exp}-y_i^{calc})^2 }{ \sum_{i} (y_i^{exp}-\bar{y}_i)^2 }\]</p>

      <h5>Adjusted determination coefficient</h5>
      <p>\[R_{adj}^2 = 1 - (1-R^2) \frac{NDP-1}{NDP-p-1}\]</p>

      <h4 class="mt-4">References:</h4>
      <p><a class="text-dark publication-link" href="https://onlinelibrary.wiley.com/doi/abs/10.1002/9783527678129.assep047" target="_blank">J.P.S. Aniceto, C.M. Silva. Preparative Chromatography: Batch and Continuous, in: Analytical Separation Science, Vol 4 (2015).</a></p>
      <p><a class="text-dark publication-link" href="https://www.wiley.com/en-us/Preparative+Chromatography%2C+2nd%2C+Completely+Revised+and+Enlarged+Edition-p-9783527328987" target="_blank">A. Seidel-Morgenstern, M. Schulte, A. Epping. Fundamentals and General Terminology, in: Preparative Chromatography, 2nd Edition (2012).</a></p>
    </div>
  </div>

</div>
{% endblock content %}


{% block scripts %}
<!-- Load Ploty -->
<!-- Loaded in the head of the base.html template -->

<!-- Plot isotherms -->
<script>
  plotDiv = document.getElementById('plot');

  var exp = {
    x: {{ data_in.x }},
    y: {{ data_in.y }},
    mode: 'markers',
    type: 'scatter',
    name: 'Experimental'
  };

  var data = [exp];

  {% for isotherm_name, isotherm_results in data_out.items %}
    data.push({
      x: {{ isotherm_results.xmodel }},
      y: {{ isotherm_results.ymodel }},
      mode: 'lines',
      type: 'scatter',
      name: '{{ isotherm_name }}'
    });
  {% endfor %}

  var layout = {
    showlegend: true,
	  legend: {"orientation": "h"}
  };

  Plotly.newPlot(plotDiv, data, layout, {responsive: true});

</script>

<!-- Example data button -->
<script>
  function dummyData() {
    XY_DATA = `0 0
4.7 0.061
7.0 0.073
9.31 0.094
16.6 0.118
32.5 0.139
62.8 0.157`

    document.getElementById('id_xy_data').value = XY_DATA;
    document.getElementById('id_isotherm_type_2').checked = true;
    document.getElementById('id_isotherm_type_3').checked = true;
    document.getElementById('id_isotherm_type_4').checked = true;
    document.getElementById('id_isotherm_type_5').checked = true;    
  }
</script>
{% endblock %}