{% extends "website/base.html" %}
{% block content %}

<div class="container mt-4">

  <h1 class="display-5 mb-3">
    {{ page_title }}
    <small class="text-muted font-weight-light d-none d-md-inline">{{ page_subtitle }}</small>
  </h1>

  {% for post in posts %}
    <!-- Post -->
    <div class="row mb-5">
      <div class="col-lg">
        <article>

          <header class="mb-4">
            <h2 class="font-weight-bolder mb-1">{{ post.title }}</h2>
            <div class="text-muted font-italic mb-2">Posted on {{ post.date_posted|date:"F d, Y" }}</div>
          </header>

          {% if post.image %}
          <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.image.url }}" alt="Post image" /></figure>
          <!-- <div class="float-md-right"><img class="img-thumbnail m-1" src="{{ post.image.url }}" style="max-height: 300px; max-width: 300px;" alt="Post Image"></div> -->
          {% endif %}

          <section class="mb-5">
            <p>{{ post.content|safe|linebreaks }}</p>
          </section>

        </article>
    </div>
  </div>
  
  
  <!-- OLD VERSION -->
  {% comment %} 
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h3 class="card-title mb-0">{{ post.title }}</h3>
              <p class="text-muted mb-1"><small>{{ post.date_posted|date:"F d, Y" }}</small></p>
              {% if post.image %}
              <div class="float-md-right"><img class="img-thumbnail m-1" src="{{ post.image.url }}" style="max-height: 300px; max-width: 300px;" alt="Post Image"></div>{% endif %}
              <p class="card-text">{{ post.content|safe|linebreaks }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- col-md-12 closing -->
  </div>
  <!-- row closing -->
  {% endcomment %} 

  {% endfor %} 
  
  
  <!-- Pagination -->
  {% if is_paginated %}
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="btn-group" role="group" aria-label="Pagination">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-secondary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a> 
        {% endif %} 
        
        {% for num in paginator.page_range %} 
          {% if page_obj.number == num %}
          <a class="btn btn-secondary mb-4" href="?page={{ num }}">{{ num }}</a> 
          {% else %} 
          <a class="btn btn-outline-secondary mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %} 
        {% endfor %} 
        
        {% if page_obj.has_next %}
          <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-secondary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a> 
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endblock content %}