{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="w-100 bg-egichem-green text-white text-center text-uppercase rounded p-1 mb-3">
	<span class="font-weight-bold">Reset Password</span>
</div>

<div class="content-section">
	<div class="row">
		<div class="col-md-6">
			<p class="mt-3">You can reset your password by entering your email bellow. You will then receive an email instructing how to reset your account password.</p>
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{ form|crispy }}
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-egichem" type="submit">Request Password Reset</button>
				</div>
			</form>
			<div class="d-none d-md-block">
					<br><br><br><br>
			</div>
		</div>
	</div>
</div>

{% endblock content %}