<!-- X by 2 grid of cards -->
<div class="row row-cols-1 row-cols-md-2">

  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-body">
        <h3 class="card-title mb-1">Diffusivities in polar and nonpolar solvents</h3>
        <p class="card-text"><small class="text-muted">Online Calculator</small></p>
        <p class="card-text">Machine Learning models for the prediction of diffusivities in polar (except water) and nonpolar (except supercritical carbon dioxide) solvents.</p>
        <a href="{% url 'd12_polar_nonpolar' %}" class="btn btn-egichem">Calculate</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-body">
        <h3 class="card-title mb-1">Diffusivities in Supercritical CO<sub>2</sub></h3>
        <p class="card-text"><small class="text-muted">Online Calculator</small></p>
        <p class="card-text">Machine Learning models for the prediction of diffusivities in supercritical carbon dioxide.</p>
        <a href="{% url 'd12_sc_co2' %}" class="btn btn-egichem">Calculate</a>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-body">
        <h3 class="card-title mb-1">Viscosity and density of SC-CO<sub>2</sub></h3>
        <p class="card-text"><small class="text-muted">Online Calculator</small></p>
        <p class="card-text">Supercritical carbon dioxide density and pressure calculation for pure CO<sub>2</sub> and CO<sub>2</sub> with ethanol as cosolvent.</p>
        <a href="{% url 'carbon_dioxide' %}" class="btn btn-egichem">Calculate</a>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card h-100 bg-light">
      <div class="card-body">
        <h3 class="card-title mb-1">Adsorption isotherm fitting</h3>
        <p class="card-text"><small class="text-muted">Online Calculator</small></p>
        <p class="card-text">Fits well known adsorption isotherm models (e.g. Linear, Langmuir, Freundlich) to experimental data.</p>
        <a href="{% url 'isotherms' %}" class="btn btn-egichem">Calculate</a>
      </div>
    </div>
  </div>

</div>