<div class="row mb-3">
  <div class="col">
    <div class="card-deck">
      
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title mb-1">Supercritical CO<sub>2</sub> properties</h5>
          <p class="card-text"><small class="text-muted">Online Calculator</small></p>
          <p class="card-text">Supercritical carbon dioxide density and pressure calculation for pure CO<sub>2</sub> and CO<sub>2</sub> with ethanol as cosolvent.</p>
          <a href="{% url 'carbon_dioxide' %}" class="btn btn-egichem">Calculate</a>
        </div>
      </div>

      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title mb-1">Adsorption isotherm fitting</h5>
          <p class="card-text"><small class="text-muted">Online Calculator</small></p>
          <p class="card-text">Fits well known adsorption isotherm models (e.g. Linear, Langmuir, Freundlich) to experimental data.</p>
          <a href="{% url 'isotherms' %}" class="btn btn-egichem">Calculate</a>
        </div>
      </div>

    </div>
  </div>
</div>