{% load static %}

<h3 class="mt-5 mb-3">Bibliometric data</h3>

<!-- https://www.scopus.com/authid/detail.uri?authorId=57195637544 -->

<h5 class="text-center"><em>h</em>-index</h5>
<figure class="figure">
  <a href="https://www.scopus.com/authid/detail.uri?authorId=57195637544" target="_blank">
    <img src="{% static 'website/images/metrics/h-index-compressor.png' %}" class="figure-img img-fluid rounded" alt="h-index">
  </a>
  <figcaption class="figure-caption text-right">Last updated: 31-5-2021</figcaption>
</figure>

<h5 class="text-center">Publications</h5>
<figure class="figure">
  <a href="https://www.scopus.com/authid/detail.uri?authorId=57195637544" target="_blank">
    <img src="{% static 'website/images/metrics/publications-compressor.png' %}" class="figure-img img-fluid rounded" alt="Publications">
  </a>
  <figcaption class="figure-caption text-right">Last updated: 31-5-2021</figcaption>
</figure>

<h5 class="text-center">Citations</h5>
<figure class="figure">
  <a href="https://www.scopus.com/authid/detail.uri?authorId=57195637544" target="_blank">
    <img src="{% static 'website/images/metrics/citations-compressor.png' %}" class="figure-img img-fluid rounded" alt="Citations">
  </a>
  <figcaption class="figure-caption text-right">Last updated: 31-5-2021</figcaption>
</figure>

<h5 class="text-center">Sources</h5>
<figure class="figure">
  <a href="https://www.scopus.com/authid/detail.uri?authorId=57195637544" target="_blank">
    <img src="{% static 'website/images/metrics/sources-compressor.png' %}" class="figure-img img-fluid rounded" alt="Sources">
  </a>
  <figcaption class="figure-caption text-right">Last updated: 31-5-2021</figcaption>
</figure>


